---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Password Manager
  bitwarden_web:
    image: mprasil/bitwarden
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/bitwarden:/data
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:bitwarden.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.tor.frontend.rule=Host:bitwarden.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"